### ROS (ROS1/ROS2) ###
build/
devel/
install/
logs/
bin/
lib/
msg_gen/
srv_gen/
action_gen/
build_isolated/
devel_isolated/


# Emacs/Vim/Temp
*~
.#*
*.swp

# Eclipse
.settings/

# VSCode
.vscode/

# ROS2 workspace overlay
log/
install_local/

### Python ###
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
develop-eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg
MANIFEST
*.manifest
*.spec

# pip
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints/

# Coverage/testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Typing and linters
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.ruff_cache/
pyrightconfig.json

# Poetry
poetry.lock
.poetry/
poetry.toml

# Others
.ropeproject
.spyderproject
.spyproject
.pybuilder/
target/

# mkdocs
/site
